* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
}
.top {
  width: 100%;
  height: 100px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 20px #EFEFEF;
}
.top ul {
  display: inline-block;
}
.top ul li {
  float: left;
  width: 100px;
  line-height: 100px;
}
.top ul li .pic2 {
  background-color: #A9A9A9;
  margin-left: 15px;
  vertical-align: middle;
}
.top ul li a {
  width: 100%;
  height: 97px;
  line-height: 98px;
  display: block;
  text-align: center;
}
.top ul li a:hover {
  color: red;
  border-bottom: 3px solid red;
}
.top .last {
  width: 200px;
  line-height: 100px;
}
.top .pic1 {
  width: 216px;
  height: 31px;
  float: left;
  margin-top: 35px;
}
#ull {
  float: left;
}
#ull li {
  width: 170px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  display: block;
  text-align: center;
  margin: 20px 200px;
}
#ull li img {
  margin-right: 35px;
}
.p1 {
  background-image: url(../img/class/star1.png);
  color: red;
}
.p2 {
  background-image: url(../img/class/tip1.png);
  color: chartreuse;
}
.p3 {
  background-image: url(../img/class/screen1.png);
  color: lightskyblue;
}
.p4 {
  background-image: url(../img/class/doctor1.png);
  color: #F0FFFF;
}
#ull2 {
  width: 700px;
  height: 250px;
  margin-top: 100px;
  float: left;
}
#ull2 img {
  float: left;
  margin-right: 20px;
}
#ull2 #p1 {
  font-size: 25px;
  color: pink;
}
#ull2 p {
  color: #FFC0CB;
}
.weixin {
  width: 60px;
  position: fixed;
  right: 80px;
  top: 200px;
  z-index: 999;
}
.weixin #pic3 {
  position: absolute;
  left: -125px;
  top: 0px;
  display: none;
}
.weixin img:first-child:hover + #pic3 {
  display: block;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #666666;
  position: fixed;
  text-align: center;
  bottom: 0;
}
.footer input {
  height: 30px;
  margin-top: 15px;
}
.footer select {
  width: 100px;
  height: 30px;
}
.footer .free4 {
  color: #fff;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 9px;
  background-color: red;
  font-size: 15px;
  display: block;
  clear: all;
  position: relative;
  top: -40px;
  left: 75%;
}
